.concatBox{
    width:100%;
    margin:20px 0;
}
.concatContent{
    width:1200px;
    margin:0 auto;
}
.concatLeft,.map{
    width:500px;
    vertical-align: middle;
}

.concatLeft p{
    line-height:30px;
}
.map img{
    width:500px;
    height:300px;
}