.joinBox{
    width:100%;
    margin: 20px 0;
}

.joinContent{
    width: 1200px;
    margin:0 auto;
    height: auto;
    font-size: 14px;
    color: #333333;
    line-height: 30px;

}
.join h1 {
    font-size: 16px;
    color: #ff0000;
    font-weight: normal;
    padding:10px 0;
}
.job{
    margin:15px 0;
    text-align: justify;
}